<main>
  <div class="experiencePoints">
    <label for="punti_esperienza">Punti esperienza</label>
    <input type="number" name="punti_esperienza" id="punti_esperienza" [value]="experiencePoints">
  </div>
  
  <form #form="ngForm" (ngSubmit)="addPrivilege(form)">
    <input type="text" name="newPrivilege" placeholder="Aggiungi privilegio" ngModel required>
    <button class="addItem" type="submit" *ngIf="form.valid">
      <mat-icon class="icon">add</mat-icon>
      <b>Aggiungi</b>
    </button>
  </form>
  
  <div class="box"> @for (privilege of privileges; track privilege; let a=$index) {
    <div>
      <input type="text" [value]="privilege" (change)="updatePrivilege(a,$event)">
      <p>
        <mat-icon (click)="deletePrivilege(a)">delete</mat-icon>
        <span>{{ privilegeCost(privilege) }} PE</span>
      </p>
    </div>
    <span class="description">
      {{ privilegeDescription(privilege) }}
    </span>
  }</div>
</main>