<app-navbar></app-navbar>
<article>
  <div>
    <h1>Users</h1>

    <div class="box">
      <div *ngFor="let user of users; let i=index">
        <mat-icon class="icon delete" (click)="onDelete(user.key!)">delete</mat-icon>

        <div class="user">
          <input
            type="text"
            [placeholder]="user.username"
            name="username"
            (change)="onPatchUser($event, i)"
            ngModel
          >
          <input
            type="email"
            [placeholder]="user.email"
            name="email"
            (change)="onPatchUser($event, i)"
            ngModel
          >
          <a [routerLink]="'/User/'+user.key"> <mat-icon>output</mat-icon> </a>
        </div>
      </div>
    </div>
    <button class="round" routerLink="/Login"> <mat-icon class="icon">add</mat-icon> Aggiungi utente </button>
    <!-- <button (click)="generateForTest()"> Genera utente </button> -->
  </div>
</article>
