*{ gap: 5px; }
article>div{
    padding: 10px;
    background: var(--c2);
}
.box{
    padding: 5px;
    display: grid;
}
.box>*{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: start;
    gap: 20px;
}

.wrapper{
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
.wrapper>*{
    width: min(100%,300px);
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.delete{
    color: red;
    cursor: pointer;
}.delete:hover{ color: var(--c4); }
button{
    border-radius: 5px;
}