details{
    padding: 10px 0;
    display: grid;
}
details summary{
    cursor: pointer;
    display: grid;
}
details>div{
    min-width: 100px;
    padding: 5px;
    top: 50px;
    position: absolute;

    display: flex;
    flex-flow: column;

    background: linear-gradient(30deg, var(--c4), var(--c3));
}

@media screen and (max-width:600px) {
    details>div{
        width: 80vw;
        height: 100vh;
        left: 0;
    }
}