.rowField{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.colField{
  display: grid;
}

.quadCols{
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
}