.box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.item{
    display: flex;
    flex-flow: column;
    gap: 5px;
}
input[type="number"]{
    max-width: 80px;
}

span{
    padding: 5px 10px;

    background: var(--c5);
    color: var(--c1);
    border-radius: 5px;
    border: 1px solid;
}
input:hover{background: var(--c5);}
option{color: var(--c1);}
span, input, select{
    font-size: 15px;
}

@media only screen and (max-width:600px){
.box{
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 10px;
    scroll-snap-type: x mandatory;
}
.item{
    flex-shrink: 0;
    position: relative;
    scroll-snap-align: center;
}
input{
    max-width: 100px;
}
}