.flexbox{
    align-items: flex-start;
    gap: 5px;
}
.flexitem{
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.flexitem:has( input[type="number"] ){
    max-width: 100px;
}

span{
    padding: 5px 10px;

    background: var(--c5);
    color: var(--c1);
    border-radius: 5px;
    border: 1px solid;
}
input:hover{background: var(--c5);}
option{color: var(--c1);}
span, input, select{
    font-size: 15px;
}