<section class="generalita box"> @for(field of fields; track $index) { 
  <div class="item">
    <i>{{ field.title }}</i> 
    @if (field.name==='morale') {
      <!-- <span>{{field.value}}</span> -->
    <select 
      [name]="field.name" 
      [value]="character().generalita.morale" 
      (change)="changeField($event)"
    >
      <option value="0">Individualista buono</option>
      <option value="1">Individualista neutrale</option>
      <option value="2">Individualista malvagio</option>
      <option value="3">Neutrale buono</option>
      <option value="4">Neutrale puro</option>
      <option value="5">Neutrale malvagio</option>
      <option value="6">Collettivista buono</option>
      <option value="7">Collettivista neutrale</option>
      <option value="8">Collettivista malvagio</option>
    </select>
    }
    @else {
    <input 
      type="{{field.inputType}}" 
      value="{{field.value}}" 
      name="{{field.name}}" 
      (change)="changeField($event)"
    />
    }
  </div>
  }

  <div class="item">
    <i>Trasporto</i> 
    <span>{{ trasporto }}kg</span>
  </div>
</section>
