.monete{
    margin: 10px 0;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;

    border: 1px solid;
    border-radius: 10px;
}
tbody{ 
    padding-top: 10px;
}
td{
    padding: 2px;
    font-style: italic;
}
span{
    padding: 5px;
    color: var(--c1);
    background: var(--c4);
    border-radius: 5px;
}