.privLink{
  margin-bottom: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
form{}
main>div{
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  background: var(--st);
}
.title{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: start;
}
.description{
  max-height: 100px;
  overflow: hidden;
}