article>div{
    padding: 10px;
    background: var(--c2);
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    .box>*{
        padding: 10px;
        display: grid;
        align-items: start;
        background: var(--st);
        border-radius: 5px;
    }
 /* TODO USER */
.user{ grid-template-columns: auto 1fr; }
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid;
}

 /* TODO PERSONAGGIO */
.characters{}
.addCharacter{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.character{
    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: var(--c2);
    border-radius: 5px;
}

@media only screen and (max-width:600px) {
    article>div{ 
        height: 100vh; 
    }
    h1{
        color: var(--c5);
        padding-bottom: 30px;
        font-size: 30px;
    }
    .box{
        grid-template-columns: 1fr;
    }
}