<app-navbar></app-navbar>
<article>
  <div>
    <h1>Area personale</h1>
    <main class="box">
      <div class="user">
        <img [src]="user.imageUrl" [alt]="user.username">
        <div>
          <input type="text" [value]="user.username">
          <input type="text" [value]="user.email">
        </div>
      </div>

      <div class="characters">
        <div class="addCharacter">
          <h5>Personaggi</h5>
          <button class="round" (click)="addCharacter()">
            <mat-icon class="icon">add</mat-icon>
            Aggiungi
          </button>
        </div>

        <p *ngIf="characters==undefined||characters.length==0">Nessun personaggio</p>

        <div class="round" *ngFor="let character of characters; let i=index">
          <mat-icon class="icon" (click)="deleteCharacter(character.key!)">delete</mat-icon>
          <a routerLink="/Card/{{userId}}/{{character.key}}">{{character.generalita.nome}}</a>
        </div>

      </div>
    </main>    
  </div>
</article>
