article>div{
    padding: 10px;
    background: var(--c2);
}
h1{ padding: 20px 0; }
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    .box>*{
        padding: 10px;
        display: flex;
        flex-flow: column;
        background: var(--st);
        border-radius: 5px;
    }
 /* TODO USER */
.user{ grid-template-columns: auto 1fr; }
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid;
}

 /* TODO PERSONAGGIO */
.characters{}
i{ text-align: center; color: red; }
.addCharacter{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.character{
    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: var(--c2);
    border-radius: 5px;
}
.deleteList{ background: #faa; }