nav{
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;

    display: flex;

    background: linear-gradient(30deg,var(--c3),var(--c2));
    box-shadow: 0 0 20px black;
}
nav>div{
    display: flex;
    align-items: center;
}
nav>div>*{
    padding: 5px;
    border-radius: 5px;

    color: var(--c5);
    background: transparent;
    border: 0;
    font-size: 15px;
}
nav>div>button:hover,
summary:hover{ color: var(--c1); }



details{
    padding: 10px 0;
    display: grid;
}
details summary{
    cursor: pointer;
    display: grid;
}
details>div{
    min-width: 100px;
    padding: 5px;
    top: 50px;
    position: absolute;

    display: grid;

    background: var(--c4);
}
a{ 
    padding: 5px;
    text-align: center; 
}

@media screen and (max-width:600px) {
details>div{
    width: 100%;
    left: 0;
}
}