nav{
    padding: 5px 10px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;

    background: linear-gradient(30deg,var(--c3),var(--c2));
    box-shadow: 0 0 20px black;
}
nav>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mat-icon{
    cursor: pointer;
    color: var(--c5);
    font-size: 24px;
}

a{ 
    padding: 5px;
    text-align: center; 
}
img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
}

@media screen and (max-width:600px) {
    nav{
        justify-content: space-between;
    }
}