<div>
  <h5>Combattimento</h5>

  <div class="box">
    <div *ngFor="let item of combattimento; let i=index" class="item">
      <i>{{ item.title }}</i>

      @switch (item.key) {
      @case ("punti_ferita") {
        <input  
          type="number" 
          [name]="item.key" 
          [value]="item.value"
        >
        <span>{{ item.value }}</span>
      }
      @case ("velocita") {
        <input 
          type="number" 
          step="1.5"
          [name]="item.key" 
          [value]="item.value" 
          (change)="changeField($event)"
        > 
        <span>{{character().combattimento.velocita /1.5}}q</span>
      }
      @case ("classe_armatura") {
        <select 
          [value]="(character().combattimento.classe_armatura)" 
          [name]="item.key" 
          (change)="changeField($event)"
        >
          <optgroup label="Senza armature"></optgroup>
          <option value="0">Senza armatura</option>
          <option value="1">Monaco</option>
          <option value="2">Barbaro</option>
          <optgroup label="Armature"></optgroup>
          <option value="3">Armatura di cuoio</option>
          <option value="4">Cotta di maglia</option>
          <option value="5">Armatura di piastre</option>
        </select>
        <span id="scudo">{{ calculateCA() }}</span>
      }
    }
    </div>

    <div class="item">
      <i>Tiri contro morte</i>
      <i>Successi</i>
      <i>
          <input type="checkbox" name="">
          <input type="checkbox" name="">
          <input type="checkbox" name="">
      </i>
      <i>Fallimenti</i>
      <i>
          <input type="checkbox" name="">
          <input type="checkbox" name="">
          <input type="checkbox" name="">
      </i>
    </div>
    
  </div>
</div>
