<app-navbar></app-navbar>
<article>
  <div>
    <h3 style="text-align: center; padding: 20px 0;">Equipaggiamento d'avventura</h3>

    <main class="tools">
      <div *ngFor="let tool of tools; let i=index">
        <header>
          <b>{{tool.title}}</b>
          <i>{{tool.weight}}kg</i>
          <mat-icon *ngIf="mk.userKey && mk.charKey">add</mat-icon>
        </header>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit deleniti rerum similique dolorem repellat ut quod, temporibus sed tempore recusandae minus nam eius rem, eos excepturi mollitia architecto quibusdam facilis.
        </p>
      </div>
    </main>

    <main class="addEquipment" *ngIf="mk.userKey && mk.charKey">
      <div>mostra</div>
    </main>
  </div>
</article>