form, div{
  margin-bottom: 5px;  
  display: grid;
  grid-template-columns: 50px 1fr auto auto;
  align-items: center;
}
.equipLink{
  margin-bottom: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div button{ padding: 1px; }
