<article>
  <div>
    <h1>Registrazione</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <main class="box">@for (item of mappedForm; track item; let a =$index) {
        <input  
          [type]="item.inputType" 
          [id]="item.key"
          [formControlName]="item.key"
          [value]="item.value"
          [placeholder]="item.title"
        >
      }
        <p>Hai già un profilo? <a routerLink="/Access">Accedi</a></p>
      </main>
      <button type="submit" [disabled]="form.invalid || form.value.confirm_password !==form.value.password">Invio</button>
    </form>
  </div>
</article>