article{ padding-top: 20px; }
article>div{
    padding: 10px;
    width: 300px;
    background: var(--c2);
    border-radius: 5px;
}
.box{
    padding: 10px;
    display: grid;
}
input::placeholder{ color: var(--c3); }
input{
    padding: 10px;
    background: transparent;
    color: var(--c5);
}
p{ padding-top: 10px; }

button[type='submit']{
    padding: 10px;
    border-radius: 5px;
}
button:disabled{
    background: var(--st);
    color: var(--c5);
}