header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
span{
    padding: 5px;
    background: var(--st);
    border-radius: 5px;
}
.error{ color: #ff8080; }

.box>*{
    padding: 2px;
    display: grid;
    grid-template-columns: 50px 2fr 1fr auto;
}

.addForm{
    background: var(--st);
    border-radius: 5px;
}
.addForm button{
    border-radius: 5px;
}