<div>
  <header>
    <label for="coins">Monete</label>
    <input type="number" [value]="coins" id="coins" (change)="updateCoins($event)">
    <label>Trasporto: </label>
    <span [class]="transportableWeight().overWeight ?'error' :null">
      {{transportableWeight().current}}/{{transportableWeight().max}}kg
    </span>
  </header>

  <main class="box">
    <div>
      <p>Qtà</p>
      <p>Titolo</p>
      <p>Peso</p>
    </div>
    
    <div *ngFor="let tool of tools; let i=index">
      <input type="number" [value]="tool.quantita" name="quantita" (change)="updateToEquip(i,$event)">
      <input type="text" [value]="tool.titolo" name="titolo" (change)="updateToEquip(i,$event)">
      <span class="weigth">{{toolWeight(tool.titolo,tool.quantita)}}</span>
      <mat-icon class="delete" (click)="deleteToEquip(i)">delete</mat-icon>
    </div>

    <form (ngSubmit)="addToEquip(addForm)" #addForm="ngForm" class="addForm">
      <input type="number" name="quantita" ngModel>
      <input type="text" name="titolo" ngModel required>
      <p></p>
      <button type="submit" [disabled]="addForm.invalid"> <mat-icon class="add">add</mat-icon> </button>
    </form>
  </main>
</div>