<app-navbar></app-navbar>
<article>
  <div [class]="charKey ?'divider' :'' ">
    <!-- TODO STRUMENTI -->
    <div>
      <h2>Equipaggiamento d'avventura</h2>
      <div class="filter">
        <input type="search" [(ngModel)]="templateFilter" placeholder="Filtro">
      </div>
      <main class="tools">
      @if(tools.length){ @for(tool of tools; track tool; let i=$index){
        <div *ngIf="tool.title.toLowerCase().includes(templateFilter)">
          <header>
            <label>{{tool.title}}</label>
            <i>{{tool.weight}}kg</i>
            <i>{{tool.price}}€</i>
            <button *ngIf="charKey" (click)="cart.addToCart(tool)"> <mat-icon>add</mat-icon> </button>
          </header>
          <p class="description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit deleniti rerum similique dolorem repellat ut quod, temporibus sed tempore recusandae minus nam eius rem, eos excepturi mollitia architecto quibusdam facilis.
          </p>
        </div>
      
      }}@else{ @for(privilege of privileges; track privilege; let i=$index){
        <div *ngIf="privilege.title.toLowerCase().includes(templateFilter)">
          <header>
            <label>{{privilege.title}}</label>
            <i *ngIf="privilege.maxLevel">Fino a {{privilege.maxLevel}} livelli;</i>
            <i>{{privilege.cost}}PE</i>
            <button *ngIf="charKey" (click)="cart.addToCart(undefined, privilege)"> <mat-icon>add</mat-icon> </button>
          </header>
          <p class="description">{{privilege.description}}</p>
        </div>
      }}
      </main>
    </div>

    <!-- TODO CARRELLO -->
    <div class="cart" *ngIf="charKey">
      <h2>Carrello</h2>
      <header>
        <div>Totale</div>
        <div>
          <p>{{ cart.getTotal().price }} {{cart.isEquip?'€' :'PE'}}</p>
          <p *ngIf="cart.isEquip">{{ cart.getTotal().weight }}kg</p>
          <button *ngIf="cart.equipCart.length ||cart.privilegesCart.length" (click)="addToCharacter()"> <mat-icon>add</mat-icon> </button>
        </div>
      </header>

      <main>
        @if(cart.isEquip){
          <p *ngIf="!cart.equipCart.length">Carrello vuoto</p>
          <div class="item" *ngFor="let item of cart.equipCart; let i=index">
            <div class="title">
              <button *ngIf="charKey" (click)="cart.deleteFromCart(i)"> <mat-icon>delete</mat-icon> </button>
              <label>{{ item.title }}</label>
            </div>
    
            <div class="values">
              <input
                type="number"
                [value]="item.amount ?item.amount :1"
                (change)="onPatchCart($event,i)"
              >
              <p>{{ item.price }}€</p>
              <p>{{ item.weight }}kg</p>
            </div>
          </div>
          
        }@else{
          <p *ngIf="!cart.privilegesCart.length">Carrello vuoto</p>
          <div class="item" *ngFor="let item of cart.privilegesCart; let i=index">
            <div class="title">
              <button *ngIf="charKey" (click)="cart.deleteFromCart(i)"> <mat-icon>delete</mat-icon> </button>
              <label>{{ item.title }}</label>
            </div>
    
            <div class="values">
              <span *ngIf="item.level">
                <label for="level">Liv</label> 
                <input
                  id="level"
                  type="number"
                  [value]="item.level ?item.level :1"
                  (change)="onPatchCart($event,i)"
                >
              </span>
              <p>{{ item.cost }}PE</p>
            </div>
          </div>
        }
      </main>
    </div>

  </div>
</article>