article{ padding-bottom: 0; }
article>div{
    background: var(--c3);
}
/* HERO */
.hero{
    background-image: url(https://img.freepik.com/foto-gratuito/natura-morta-di-oggetti-con-scheda-gioco-di-ruolo_23-2149352294.jpg?t=st=1725443696~exp=1725447296~hmac=501b528fe1dbc9f2b7b68660d90a99008cc52a0953e8a6d986caa668b5bd27ff&w=1380);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    .hero>*{
        padding: 10px;
        height: 40vh;
        
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        
        background: linear-gradient(30deg, var(--st), var(--st), var(--c3));
    }
    .hero>*>*{ text-align: center; }
/* BOX */
.box{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
}
    .box>*{
        width: clamp(300px, 100%, 32%);

        border-radius: 10px;
        background: linear-gradient(30deg, var(--st), var(--c4));
        border: 1px solid black;
        overflow: hidden;
    }

img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.text{
    padding: 10px;
    display: grid;
}