<app-navbar></app-navbar>

<article>
  <div>
    <figure class="hero">
      <div>
        <h2>Oblio</h2>
        <h4>Fogli digitali per Giochi di ruolo da tavolo</h4>

        <div style="display: flex;">
          <button routerLink="/Login">
            Registrati
            <mat-icon class="icon">login</mat-icon>
          </button>
          
          <button routerLink="/Access">
            Accedi
            <mat-icon class="icon">login</mat-icon>
          </button>
        </div>
      </div>
    </figure>

    <main class="box">
      <div>
        <img src="https://img.freepik.com/vettori-gratuito/illustrazione-dell-icona-del-computer_53876-5559.jpg?t=st=1725443272~exp=1725446872~hmac=66b1ab574199286e6b519143c876fa2d8320090ab2098698b9f91681b4e7ddce&w=826" alt="init">
        <div class="text">
          <h3>Come cominciare?</h3>
          <p>Innanzitutto <a routerLink="/Login">registrati</a>  ed esegui l'accesso, da lì arriverai all'area personale che ti consentirà di creare le schede dei tuoi personaggi.</p>
        </div>
      </div>
      
      <div>
        <img src="https://img.freepik.com/vettori-gratuito/dispositivi-tecnologici-di-progettazione_1156-710.jpg?t=st=1725442902~exp=1725446502~hmac=343d7186bfbb0e447231df7816820cd248b13924dbc0a246500fc7a321733a2b&w=826" alt="responsive">
        <div class="text">
          <h3>Usabilità</h3>
          <p>Applicazione dinamica fruibile da qualsiasi dispositivo</p>
        </div>
      </div>

      <div>
        <img src="https://img.freepik.com/vettori-gratuito/uomo-che-lavora-con-il-personaggio-dei-cartoni-animati-del-computer-portatile-libero-professionista-utilizzando-il-computer-lavoro-freelance-lavoro-a-distanza-lavoro-a-distanza-gestione-del-tempo-ufficio-a-casa-illustrazione-della-metafora-del-concetto-isolato-di-vettore_335657-2716.jpg?t=st=1725443411~exp=1725447011~hmac=d6b96ce49614909c9bb423f3a5d6e2e2278765802ee95c4d2007fb185902d9d0&w=826" alt="realtime">
        <div class="text">
          <h3>Aggiornamento in tempo reale</h3>
          <p>Le schede del personaggio si aggiornano in tempo reale</p>
        </div>
      </div>
    </main>
  </div>
</article>