main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
label{ padding-bottom: 5px; }
.inline{
    display: grid;
    grid-template-columns: 1fr auto;
}
.col{
    display: grid;
    justify-items: center;
}
span{ 
    padding: 5px;
    display: flex; 
    background: var(--st);
    border-radius: 5px;
}

.TS{ 
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr; 
}