<app-navbar></app-navbar>
<article>
  <div>
    <h1>Area personale</h1>
    <div class="box">
      <div>
        <img [src]="user.imageUrl" [alt]="user.username">
        <p>{{user.username}}</p>
      </div>

      <div>
        <h5>Personaggi</h5>
        @if (characters?.length==undefined){ <p>Nessun personaggio</p> }
        <a 
            *ngFor="let character of characters; let i=index" 
            routerLink="">
            {{character.generalita.nome}}
        </a>
      </div>
    </div>    
  </div>
</article>
