.box{
    margin: 10px auto;
    width: max-content;

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 5px;

    border-radius: 5px;
    overflow: hidden;
}
.box>*{
    padding: 5px;
    background:var(--c2);
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}