<article>
    <div>
      <h1>Accesso</h1>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <main class="box">
          <input  
            type="email"
            name="email"
            placeholder="Email"
            ngModel required email
          >
          <input  
            type="password"
            name="password"
            placeholder="Password"
            ngModel required
          >
          <p>Non hai un profilo? <a routerLink="/login">Registrati</a></p>
        </main>
        <button type="submit" [disabled]="form.invalid">Invio</button>
      </form>
    </div>
  </article>