html, body{
    --c1:#222;
    --c2:#444;
    --c3:#888;
    --c4:#aaa;
    --c5:#fff;
    --st:#00000050;

    margin: 0;
    min-height: 100vh;
    color: var(--c5);
    background: var(--c1);
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
*{box-sizing: border-box;}
#app *{
    transition: 0.3s;
    font-size: 20px;
    margin: 0;
}
article{ padding: 50px 0; }
    article>div{
        width: min(100%, 1000px);
        margin: 0 auto;
    }
header{ background: var(--c3); }

.line{
    height: 50px;
    position: relative;
    overflow: hidden;
}
    .line::after{
        width: 110%;
        height: 110%;
        position: absolute; 
        bottom: 50%;

        content: '';
        transform: rotate(359deg);
        background: var(--c3);
        box-shadow: 0px 0px 20px 5px #00000080;
    }



h1{
    margin: 0;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(30deg, var(--c2), var(--c4));
    background-clip: text;
    color: transparent;
}
h2{font-size: 35px;}
h3{font-size: 30px;}
h4{font-size: 25px;}
h5{font-size: 20px; margin: 0;}
h6{font-size: 15px;}
i{ font-size: 13px;}

input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="password"], 
textarea, 
select{
    width: min(100%, 300px);
    padding: 5px 10px;
    outline: 0;

    background: var(--c5);
    color: var(--c1);
    border-radius: 5px;
    border: 1px solid;
    resize: none;
    font-family: inherit;
} 
input::placeholder{ color: inherit; }


button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    gap: 5px;
}
    button:hover{
        background: var(--c2);
    }
    button:disabled{
        background: var(--st);
    }


a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
} 
    a:hover{
        color: var(--c3);
    }


.flexbox{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slider{
    min-width: 300px;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    scroll-snap-type: x mandatory;
}
.slider>*{
    width: 250px;

    flex-shrink: 0;
    position: relative;
    scroll-snap-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
