/* CATEGORY */
h1{ padding: 20px 0; }
.categoryBox{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    box-shadow: 0 0 20px black;
}
    .category{
        width: clamp(300px, 33%, 33%);
        padding: 5px;
        background: var(--c3);
        border: 1px solid;
    }
    .category:first-child{
        width: 100%;
    }
    summary{ 
        padding: 10px;
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
    }
/* FIELD app*/
.fieldBox.generalita{ display: flex; }
.fieldBox.competenze, 
.fieldBox.personalita{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.field{ display: grid; }
input[type="number"]{ width: 50px; }