/* CATEGORY */
h1{ padding: 20px 0; }
.categoryBox{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    box-shadow: 0 0 20px black;
}
    .category{
        width: 32%;
        padding: 5px;
        background: var(--c3);
        border: 1px solid;
    }
    .category:first-child{
        width: 100%;
    }
    summary{ 
        padding: 10px;
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
    }

  /* TODO GENERALITA */
.generalita{ display: flex; }
.generalita>div>div{
    display: flex;
    flex-flow: column;
}

/* FIELD app*/
.fieldBox.competenze, 
.fieldBox.combattimento,
.fieldBox.personalita{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


form{
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    background: var(--st);
    border-radius: 5px;
}
form button[type='submit']{ 
    padding: 0; 
    background-color: transparent;
    color: var(--c5);
}
label{
    overflow: hidden;
    text-overflow: ellipsis;
}
span{
    padding: 5px;
    border-radius: 5px;
    background: var(--st);
}
input[type='number']{
    max-width: 60px;
}