@if(keyCategory==='competenze'||keyCategory==='personalita'){
  <label [for]="field.keyField">{{field.title}}</label>
  <textarea
    [id]="field.keyField" 
    [value]="field.value" 
    (change)="updateField(keyCategory, field.keyField, $event)"
    ></textarea>
}
@else if (field.keyField==='morale') {
  <label [for]="field.keyField">{{field.title}}</label>
  <select [id]="field.keyField" [value]="field.value" (change)="updateField(keyCategory, field.keyField, $event)">
    <option value="0">Individualista buono</option>
    <option value="1">Individualista neutrale</option>
    <option value="2">Individualista malvagio</option>
    <option value="3">Neutrale buono</option>
    <option value="4">Neutrale puro</option>
    <option value="5">Neutrale malvagio</option>
    <option value="6">Collettivista buono</option>
    <option value="7">Collettivista neutrale</option>
    <option value="8">Collettivista malvagio</option>
  </select>  
}
@else { <!--TODO DEFAULT -->
  <label [for]="field.keyField">{{field.title}}</label>
  <input 
    *ngIf="field.value!==undefined" 
    [id]="field.keyField"
    [value]="field.value" 
    [type]="inputType(field.value)"
    (change)="updateField(keyCategory, field.keyField, $event)"
  >
}