article>div{
    padding: 10px 0;
}
h1:first-child{ padding: 20px 0; }
.box{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
}
    .box>*:first-child{
        width: 100%;
    }
    .box>*{
        width: clamp(200px, 32%, 32%);
        padding: 10px;
        background: var(--c3);
    }

@media only screen and (max-width:600px){
h1:first-child{
    display: none;
}
.box>*{
    width: 100%;
}
}