/* CATEGORY */
h1{ padding: 20px 0; }
.categoryBox{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    box-shadow: 0 0 20px black;
}
    .category{
        width: 32%;
        padding: 5px;
        background: var(--c3);
        border: 1px solid;
    }
    .category:first-child{
        width: 100%;
    }
    summary{ 
        padding: 10px;
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
    }

  /* TODO GENERALITA */
.generalita{ display: flex; }
.generalita>div>div{
    display: flex;
    flex-flow: column;
}

/* FIELD app*/
.fieldBox.competenze, 
.fieldBox.combattimento,
.fieldBox.personalita{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

  /* TODO COMBATTIMENTO */
.grid2{
    display: grid;
    grid-template-columns: 1fr auto;
}
.combattimento span{
    display: flex;
    align-items: center;
}
.combattimento .CA{
    display: flex;
    flex-flow: column;
    align-items: center;
}

  /* TODO CARATTERISTICA */
.inline{ 
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.trait{
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    background: var(--st);
    border-radius: 5px;
}
.trait>div{
    display: flex;
    flex-flow: column;
}
.trait>main{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
}

  /* TODO EQUIPAGGIAMENTO */
.col4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: center;
}
.equipaggiamento form{
}
.oggetti>*{
    margin-bottom: 5px;    
    display: grid;
    grid-template-columns: 50px 1fr auto auto;
    align-items: center;
}

  /* TODO PRIVILEGI */
.privilegi form{
}
.privilegi main>div{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;

    background: var(--st);
}
.privilegi .title{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    align-content: start;
}
.privilegi .description{
    max-height: 100px;
    overflow: hidden;
}

form{
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    background: var(--st);
    border-radius: 5px;
}
form button[type]{ 
    padding: 0; 
    background-color: transparent;
    color: var(--c5);
}
label{
    /* max-width: 80px; */
    overflow: hidden;
    text-overflow: ellipsis;
}
span{
    padding: 5px;
    border-radius: 5px;
    background: var(--st);
}
input[type='number']{
    max-width: 60px;
}