<app-navbar></app-navbar>
<article>
  <div>
    <h1>Scheda personaggio</h1>

    <main class="categoryBox"> 
      <div class="category {{dropdowns[a] ?'drop' :''}}" *ngFor="let category of mappedCharacter; let a=index">
        <summary
          *ngIf="a!==0" 
          (click)="menageDrop(a)"
        > {{category.title}} 
        </summary>
        
        <main class="fieldBox {{category.keyCategory}}">
          <div *ngFor="let field of category.content; let b=index">
          @if(a==1||a==3) {
            <label [for]="field.keyField">{{field.title}}</label>
            <textarea
              [name]="field.keyField"
              [id]="field.keyField"
              placeholder="Aggiungi {{field.title}}"
              (change)="card.onPatchField(category.keyCategory, $event)"
            >{{field.value}}</textarea>
          }
          @else if (category.keyCategory=='combattimento') {
            <app-combat [field]="field" ></app-combat>
          }
          @else if (field.keyField=='caratteristica') {
            <app-traits></app-traits>
          }
          @else if (field.keyField=='oggetti') {
            <app-tools></app-tools>
          }
          @else if (field.keyField=='privilegi') {
            <app-privileges></app-privileges>
          }
          @else { <!-- TODO DEFAULT -->
            <app-generic [category]="category" [field]="field"></app-generic>
          }
          </div>
        </main>

      </div>
    </main>
    
  </div>
</article>